header {
    text-align: center;
  }
  
  .row-0 {
    background-color: black ;
    border: 1px solid orange;
    width:  20vh;
    height: 1vw;
  /*   margin: 2px; */
  }
  
   .row-2 {
    background-color: orange;
    border: 1px solid orange;
    width: 20vh;
    height: 1vw;
    margin: 2px;
  }
  
  .container {
    text-align: center;
    margin: 3em auto;
  }
  
  .container button {
    height: 4rem;
    width: 9rem;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}
  
  button#btn {
    display: block;
    cursor: pointer;
    margin: auto;
    font-size: 20px;
    width: 100px;
    font-weight: bold;
    background: none;
    border: 1px solid red;
    border-radius: 5px;
    color: red;
    background-color: transparent;
    text-transform: uppercase;
    margin-top: 10px;
  }
  
  .container div {
    margin-top: 0;
  }

  .selected{
     background-color: gray;
  }
  #attack{
    width: 300px;
    background: #b54949;
    border: #b54949;
    font-size: 16px;
    font-weight: bold;
  }
  #output{
    font-weight: bolder;
    font-size: 20px;
  }
  